body
	{
	height:100%;
	font-family: 'Open Sans', 'Aroma', sans-serif;
	color: grey;
	#overflow-y: hidden;
	}

html 
	{
height: 100%;
	}

body a
	{
	text-decoration:none;
	color: grey;
	transition: color 0.5s;
	-moz-transition: color 0.5s; /* Firefox 4 */
	-webkit-transition: color 0.5s; /* Safari and Chrome */
	-o-transition: color 0.5s; /* Opera */
	-ms-transition: color 0.5s; /* Explorer 10 */
	}

body a:hover
	{
	color: black;
	}

.text
	{
	#margin-right: 50px;
	text-align: justify;
	font-size: 16px;
	line-height: 1.7;
	}

.text p
	{
	margin-top: 0px;
	margin-bottom:15px;
	}

h1
	{
	font: 32px 'Terminal Dosis', 'Trebuchet MS', sans-serif;
	font-weight: 200;
  	margin-bottom: 10px;
	}

h2
	{	
	font: 25px 'Terminal Dosis', 'Trebuchet MS', sans-serif;
	font-weight:200;
	margin: 15px 0 10px 0;
	}

h3
	{	
	font: 23px 'Terminal Dosis', 'Trebuchet MS', sans-serif;
	font-weight:200;
	}

.artist-name
	{
	font: 1.1em 'Terminal Dosis', 'Trebuchet MS' ,sans-serif;
	font-weight:300;
	text-transform:uppercase;
	}

#box
	{
	height: 100%;
	padding: 20px 20px 15px 20px;
	box-shadow: 0px 0px 10px #888;
	border-radius: 5px;
	position: relative;
	}

#content
	{
	width: 80%;
	min-width: 700px; /*change this to 600px when centering of galleries no longer required*/
	height: 70vmin;
  	min-height: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 110px;
	}

.connect_widget_like_button .liketext
{
	color: black !important;
}

#currpage
	{
	position: absolute;
	top: 0;
	opacity: 0;
	bottom: 0;
	right: 0;
	left: 120px;
	margin: 15px 15px 35px 25px;
	#padding: 0px 10px 0px 10px;
	text-align: justify;
	overflow-y: auto; /*change to auto later*/
	#overflow-x: hidden;
	transition: opacity 1s;
	-moz-transition:opacity 1s; /* Firefox 4 */
	-webkit-transition:opacity 1s; /* Safari and Chrome */
	-o-transition:opacity 1s; /* Opera */
	-ms-transition: opacity 1s; /* Explorer 10 */
	}

#footer
	{
	font: 14px 'Open Sans', 'Aroma', sans-serif;
	text-align:right;
	padding: 15px 10px 0 0;
	}

#footer img
	{
	height: 1em;
	vertical-align: middle;
	opacity: 0.5;
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s; /* Firefox 4 */
	-webkit-transition: opacity 0.5s; /* Safari and Chrome */
	-o-transition: opacity 0.5s; /* Opera */
	-ms-transition: opacity 0.5s; /* Explorer 10 */
	}

#footer img:hover
	{
	opacity: 1;
	}

#fb-like
	{
	#border: 1px solid black;
	float: right;
	margin-top: 25px;
	margin-right: -45px;
	}

.gallery
	{
	width:100%;
	text-align:center;
	}
	
.galleries
	{
	width: 540px;
	height: 200px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  	}

#gallery-menu
	{
	display: none;
	}

.gallery-name
	{
	font: 19.2px 'Terminal Dosis', 'Trebuchet MS', sans-serif;
	font-weight:400;
	}

.gallery-photo
	{
	#width:75%;
	margin-left:auto;
	margin-right:auto;
	opacity: 0;
	color:grey;
	
	transition: opacity 2s, color 2s;
	-moz-transition: opacity 2s, color 2s; /* Firefox 4 */
	-webkit-transition: opacity 2s, color 2s; /* Safari and Chrome */
	-o-transition: opacity 2s, color 2s; /* Opera */
	-ms-transition: opacity 2s, color 2s; /* Explorer 10 */
	}

.gallery-photo-text
	{
	text-align:right;
	padding-right:5px;
	color:inherit;
	}

.gallery-photo-img
	{
	width:100%;
	box-shadow: 0px 0px 10px #888;
	padding:5px;
	margin-bottom:5px;
	transition: box-shadow 0.5s;
	-moz-transition:box-shadow 0.5s; /* Firefox 4 */
	-webkit-transition:box-shadow 0.5s; /* Safari and Chrome */
	-o-transition:box-shadow 0.5s; /* Opera */
	-ms-transition: box-shadow 0.5s; /* Explorer 10 */
	}

.gallery-preview
	{
	float:left;
	margin:0 15px 20px 15px;
	opacity: 0;
	color:grey;	
	transition: opacity 2s, color 2s;
	-moz-transition: opacity 2s, color 2s; /* Firefox 4 */
	-webkit-transition: opacity 2s, color 2s; /* Safari and Chrome */
	-o-transition: opacity 2s, color 2s; /* Opera */
	-ms-transition: opacity 2s, color 2s; /* Explorer 10 */
	}

.gallery-preview:hover
	{
	text-shadow: 0px 1px 1px #bbb;
	color: #333;
	}

.gallery-preview-text
	{
	text-align:right;
	padding-right:5px;
	color:inherit;
	}

.gallery-preview-img
	{
	height: 140px;
	width: 140px;
	box-shadow: 0px 0px 10px #888;
	border: 5px solid white;
	background-size:cover;
	margin-bottom: 5px;
	transition: box-shadow 0.5s;
	-moz-transition: box-shadow 0.5s; /* Firefox 4 */
	-webkit-transition: box-shadow 0.5s; /* Safari and Chrome */
	-o-transition: box-shadow 0.5s; /* Opera */
	-ms-transition: box-shadow 0.5s; /* Explorer 10 */
	}

.gallery-preview-img img
	{
	clip: rect(0px,140px,140px,0px);
	position:absolute;
	border:none;
	}

#header
	{
	font: 14px 'Open Sans', 'Aroma', sans-serif;
	margin-top: 10px;
	margin-bottom: 15px;
	height: 45px;
	text-align:left;
	#opacity: 0;
	}

#header-logo
	{
	float:left;
	height: 50px;
	margin-right: 10px;
	}

#header img
	{
	height:100%;
	vertical-align: text-bottom;
	border: 0px;
	}

#header-text	/* not being used now probably */
	{
	text-align:left;
	}

#loading
	{
	z-index:2;
	height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
	}

#menu
	{
	width: 105px;
	padding: 0 10px 0 5px;
	border-right: 1px solid #ddd;
	text-align: right;
	margin-bottom: 20px;
	}

#menu ul
	{
	font: 23px 'Terminal Dosis', 'Trebuchet MS', sans-serif;
	font-weight:300;
	text-transform: uppercase;
	line-height: 20px;
	list-style-type: none;
	padding: 0;
	padding-bottom: 5px;
	}

#menu ul li
	{
	margin-bottom: 30px;
	}

#menu a
	{
	text-decoration:none;
	color: #888;
	cursor: pointer;
	#border-bottom: solid 1px #ddd;
	transition: color 0.5s;
	-moz-transition: color 0.5s; /* Firefox 4 */
	-webkit-transition: color 0.5s; /* Safari and Chrome */
	-o-transition: color 0.5s; /* Opera */
	-ms-transition: color 0.5s; /* Explorer 10 */
	}

#menu ul li ul
	{
	font-size: 0.7em;
	text-transform: none;
	transition: opacity 0.5s;
	-moz-transition:opacity 0.5s; /* Firefox 4 */
	-webkit-transition:opacity 0.5s; /* Safari and Chrome */
	-o-transition:opacity 0.5s; /* Opera */
	-ms-transition: opacity 0.5s; /* Explorer 10 */
	}

#menu ul li ul li
	{
	margin-bottom: 0px;
	margin-top: 20px;
	}

#menu ul li ul li a
	{
	border: none;
	}

#menu a:visited
	{
	color: #888;
	}
	
#menu a:hover
	{
	color: #000;
	}

.section-header
	{
	font: 2.5em 'Terminal Dosis', 'Trebuchet MS', sans-serif;
	font-weight: 200;
	height: 50px;
	margin-top: 40px; /*change to 20px later*/
	text-align: center; /*remove this later*/
	}

#table-centering
	{
	width: 100%;
	height: 96%;
	}

#wrapper
	{
	height:100%;
	text-align: center;
	background: #c0c0c0;
	border: #a0a0a0 solid 1px;
	margin: 20px;
	}

#credit-buttons
	{
	text-align:center;
	margin-top:40px;
	}

#credit-buttons img
	{
	height: 40px;
	margin: 0 50px 50px 0;
	}

#fadetop
	{
	height:10px;
	position:absolute;
	top: 55px;
	left: 142px;
	width: -moz-calc(100% - 180px);
	width: -webkit-calc(100% - 180px);
	width: calc(100% - 180px);
	z-index:1;
	background: -webkit-linear-gradient(top,rgba(255,255,255,1),rgba(255,255,255,0)); /*Safari 5.1-6*/
	background: -o-linear-gradient(bottom,rgba(255,255,255,1),rgba(255,255,255,0)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(255,255,255,0)); /*Fx 3.6-15*/
	background: linear-gradient(to bottom, rgba(255,255,255,1),rgba(255,255,255,0)); /*Standard*/
	#display:none;
	}

#fadebottom
	{
	height:10px;
	position:absolute;
	bottom: 35px;
	left: 142px;
	width: -moz-calc(100% - 180px);
	width: -webkit-calc(100% - 180px);
	width: calc(100% - 180px);
	z-index:1;
	background: -webkit-linear-gradient(bottom,rgba(255,255,255,1),rgba(255,255,255,0)); /*Safari 5.1-6*/
	background: -o-linear-gradient(top,rgba(255,255,255,1),rgba(255,255,255,0)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(top,rgba(255,255,255,1),rgba(255,255,255,0)); /*Fx 3.6-15*/
	background: linear-gradient(to top, rgba(255,255,255,1),rgba(255,255,255,0)); /*Standard*/
	#display:none;
	}