#currentmode
{
	display: none;
}
#fadetop
{
	display: none;
}
#fadebottom
{
	display: none;
}
#gallery-footer-left
{
	opacity: 1;
}
#cart-link
{
	visibility: visible;
}
#cart-button
{
	height: 20px;
}
#navigation
{
	display: inline;
	font-size: 20px;
}

#navigation-buttons img
	{
	height: 12px;
	vertical-align:5%;
	}

#gallery-filmstrip
{
	display: block;
}
#lightbox
{
	visibility: visible;
	opacity:1;
}

#gallery-main-caption
{
	position:fixed;
	bottom:10px;
	left:10px;
	font-size: 25px;
}
#gallery-footer-right
{
	position:fixed !important;
	bottom:10px;
	right:10px;
	margin-right: 0 !important;
}
#gallery-main-photo-photo
{
	position:fixed !important;
}

#view-changer img
	{
	height: 15px;
	}

#loading
{
	position: fixed;
}