#gallery-grid
{display:none;
}
#fadetop
{
	display: none;
}
#fadebottom
{
	display: none;
}
#gallery-footer-left
{
	opacity: 1;
}
#cart-link
{
	visibility: visible;
}
#navigation
{
	display: inline;
}
#gallery-single
{
	display: block;
}
#gallery-main-caption
{
	opacity:1;
	width: -webkit-calc(100% - 250px);
	width: -moz-calc(100% - 250px);
	width: -o-calc(100% - 250px);
	width: calc(100% - 250px);
}

#loading-single
{
	z-index:2;
	position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
}