#gallery-single
{display:none;}
#navigation
{display:none;}
#cart-link
{visibility:hidden;}
#gallery-grid
{display:block;}
#fadetop
{display:block;}
#fadebottom
{display:block;}
#gallery-main-caption
{
	opacity:0;
	width: -webkit-calc(100% - 90px);
	width: -moz-calc(100% - 90px);
	width: -o-calc(100% - 90px);
	width: calc(100% - 90px);
}