#content
	{
	min-width: 750px;
	}

#gallery-filmstrip
	{
	display: none;
	}

#gallery-bottom-right
	{
	position:absolute;
	bottom:0;
	right:0;
	}

#gallery-main-title
	{
	position: absolute;
	top: 14px;
	left: 145px;
	font: 2em 'Terminal Dosis', 'Trebuchet MS', sans-serif;
	font-weight:200;
	height:50px;
	text-align:left;
	}

#gallery-main-title a
	{
	color: black;
	}

#gallery-main-title a:hover:after
	{
	#content: " about the artist";
	#font-size: 0.8em;
	#color: grey;
	}	

#gallery-main-name
	{
	display:inline;
	margin-left: 12px;
	}
	
#gallery-main-artist
	{
	display:inline;
	font-size: 0.7em;
	margin-left:5px;
	}

#gallery-main-caption
	{
	font: 1.5em 'Terminal Dosis', 'Trebuchet MS' sans-serif;
	font-weight:400;
	text-align:left;
	display:inline;
	#color:inherit;
	}

.gallery-main-caption-lightbox
	{
	position:fixed;
	bottom:10px;
	left:10px;
	}

#gallery-main-photo
	{
	opacity:1;
	#transition: opacity 0.5s;
	#-moz-transition:opacity 0.5s; /* Firefox 4 */
	#-webkit-transition:opacity 0.5s; /* Safari and Chrome */
	#-o-transition:opacity 0.5s; /* Opera */
	#-ms-transition: opacity 0.5s; /* Explorer 10 */
	}

#gallery-main-photo-photo
	{
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:auto;
	height:auto;
	max-width:90%;
	max-height:90%;
	border: solid 5px white;
	visibility: hidden;
	position: absolute;
	z-index:2; /*for being on top of lightbox*/
	box-shadow: 0px 0px 6px grey;
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s; /* Firefox 4 */
	-webkit-transition: opacity 0.5s; /* Safari and Chrome */
	-o-transition: opacity 0.5s; /* Opera */
	-ms-transition: opacity 0.5s; /* Explorer 10 */
	}

.lightbox-image
	{
		position:fixed !important;
	}
#gallery-menu
	{
	display: block;
	opacity: 1;
	}

#gallery-menu li
	{
	line-height: 20px;
	}
	
#currpage
	{
	top: 40px;
	padding-top: 10px;
	#overflow-y: auto;
	}

#gallery-footer
	{
	height:20px;
	text-align: right;
	position: absolute;/*z-index cannot be used with static positioning */
	bottom: 9px;
	left:135px;
	width: -moz-calc(100% - 135px);
    width: -webkit-calc(100% - 135px);
    width: calc(100% - 135px);
	z-index:2;/*for being on top of lightbox*/
	}
#gallery-footer-left
	{
	float:left;
	opacity:0;
	#height: 20px;
	transition: opacity 0.2s;
	-moz-transition: opacity 0.2s; /* Firefox 4 */
	-webkit-transition: opacity 0.2s; /* Safari and Chrome */
	-o-transition: opacity 0.2s; /* Opera */
	-ms-transition: opacity 0.2s; /* Explorer 10 */
	}
#gallery-footer-right
	{
	padding-top:5px;
	margin-right: 10px;
	}

#gallery-footer-right img
	{
	-webkit-transition : -webkit-filter 1s linear
	}

.gallery-footer-right-lightbox
	{
	position:fixed !important;
	bottom:10px;
	right:10px;
	margin-right: 0 !important;
	}

#cart-link
	{
	visibility: hidden;
	}

#cart-button
	{
	height: 15px;
	margin-right: 20px;
	vertical-align: -2px;
	}

#navigation
	{
	font-size: 1.1em;
	display: none;
	text-align: right;
	margin-right: 20px;
	}

#navigation-count
	{
	display:inline;
	}
	
#navigation-buttons
	{
	display:inline;
	}

#navigation-buttons a
	{
	color:black;
	vertical-align:15%;
	font-size:.8em;
	}

#view-changer
	{
	display: inline;
	}

#view-changer img
	{
	height: 10px;
	}

#gallery-footer-right a
	{
	opacity:0.5;
	cursor:pointer;
	transition: opacity 0.5s, color 1s;
	-moz-transition: opacity 0.5s, color 1s; /* Firefox 4 */
	-webkit-transition: opacity 0.5s, color 1s; /* Safari and Chrome */
	-o-transition: opacity 0.5s, color 1s; /* Opera */
	-ms-transition: opacity 0.5s, color 1s; /* Explorer 10 */
	}

#gallery-footer-right a:hover
	{
	opacity: 1 !important;
	}