#lightbox {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

#gallery-footer-right img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

#loading-lightbox {
	filter: invert(100%);
	-webkit-filter: invert(100%);
	}