{% extends "templates/base.html" %}
{% block title %}Artarium: About Us{% endblock %}
{% block description %}Photography and art gallery.{% endblock %}
{% block url %}artarium.in/about{% endblock %}
{% block keywords %}artarium photography art buy view gallery photos about{% endblock %}
{% block artarium_logo %}<a href="/"><img alt="Artarium" src="img/artarium-logo.png"></a>{% endblock %}
{% block css2 %}
        <link rel="stylesheet" type="text/css" href="artist.css"/>
{% endblock %}
{% block body_onload %}onload="$('#currpage').css('opacity',1)"{% endblock %}
{% block gallery_menu_display %}display:none;{% endblock %}
{% block artist_menu_display %}display:none;{% endblock %}

{% block content %}
                                                                   
															<div id="currpage">
								<h1>About Us</h1>
                               <span class='text'>
                               <p>Artarium aims to provide a free platform to showcase and sell photography by amateur and professional artists to a wide audience of art lovers in India. We fulfill each order on behalf of the photographers: from printing, framing and shipping, to collecting payments from the buyers and sending royalty to the artists.</p>                               	
                               <h2>Rajarshi Roychowdhury &#x00B7; <span style="font-size:0.8em">Sales</span></h2>
                               
                               <p>Rajarshi is a PhD student of Earth Sciences at the University of Massachusetts at Amherst, USA. Passionate about photography, he loves to hike the New England trails and shoot landscapes when he is not working with climate models in his lab.</p>
                           
                               <h2>Abhranil Das &#x00B7; <span style="font-size:0.8em">Developer</span></h2>
                               
                               	<p>Abhranil is a PhD student of Physics at the University of Texas at Austin, USA. He keeps himself busy with a wide array of hobbies, some of which are drumming, photography and running.</p>
                               	<h2>Contact Us</h2>
                               <p><a href="mailto:contact@artarium.in">contact@artarium.in</a></p>
                               <p>2/82A<br>
                               Naktala<br>
                               Kolkata 700047<br>
                               West Bengal, India</p>
                               </span>
							   <p id='credit-buttons'>
								<img src="img/powered-by-gae.png" alt='Powered by Google App Engine'>
								<img src="img/python-powered.png" alt='Powered by Python'>
								<img src="img/jinja2.png" alt='Jinja2 template engine'>
								<img src="img/html5.png" alt='HTML5'>
								<img src="img/css3.png" alt='CSS 3'>
								<img src="img/jquery.jpg" alt='jQuery'>
								</p>																
							</div>								   
{% endblock content %}