{% extends "templates/base.html" %}
{% block title %}Artarium: {{ artist_name }}{% endblock %}
{% block description %}Photography and art gallery.{% endblock %}
{% block url %}artarium.in/{{ artistkey }}{% endblock %}
{% block keywords %}artarium photography art buy view gallery photos {{ artist_name }}{% endblock %}
{% block artarium_logo %}<a href="/"><img onload="headerappear()" alt="Artarium" src="img/artarium-logo.png"></a>{% endblock %}
{% block css2 %}
        <link rel="stylesheet" type="text/css" href="artist.css"/>
{% endblock %}
{% block body_onload %}{% endblock %}
{% block gallery_menu_display %}display:none;opacity:0{% endblock %}
{% block artist_menu_display %}display:block;opacity:1{% endblock %}

{% block content %}
							<div id="currpage">
								<div id="fadetop"></div>
<div id="artist-left"><img id="artist-photo" alt="{{ artist_name }}" src="artists/{{ artistkey }}.jpg">
<h3 id="gallerylink-header">Gallery</h3>
<a href="/{{ gallerykey }}">
                                        <div class="gallery-preview" onmouseover="raise(0)" onmouseout="lower(0)" id="gal0">
                                            <div class="gallery-preview-img" id="gal-img0">
                                                <img onload="galappear('gal0', '100px')" src="galleries/thumbnails/{{ gallerykey }}.jpg">
                                            </div>
                                            <div class="gallery-preview-text" id="gal-text0">
                                                <span class="gallery-name" href="">{{ gallery_name }}</span><br/>
                                            </div>
                                        </div>
                                    </a>
</div>

                                <h1>{{ artist_name }}</h1>								
                                <div class="text" id="artist-bio">
                                {{ bio|safe }}
                                </div>
																<div id="fadebottom"></div>
							</div>	
{% endblock content %}