{% extends "templates/base.html" %}
{% block title %}Artarium : {{ gallery_name }} | {{ artist_name }}{% endblock %}
{% block description %}Photography and art gallery.{% endblock %}
{% block url %}artarium.in/{{ gallerykey }}{% endblock %}
{% block keywords %}artarium photography art buy view gallery photos {{ gallery_name }} {{ artist_name }}{% endblock %}
{% block artarium_logo %}<a href="/">
<div id="header-logo">
<img class="header-bottom" src="img/artarium-logo-hover.png" alt='Artarium Logo' />
<img class="header-top" src="img/artarium-logo.png" alt='Artarium Logo' />
</div>
</a>{% endblock %}
{% block css2 %}
        <link rel="stylesheet" type="text/css" href="gallery.css"/>
        <link rel="stylesheet" type="text/css" id="grid-css" href="gallery-grid.css"/>
{% endblock %}
{% block body_onload %}onload="imagearray(), next()" onkeydown="keyNavigate(event)"{% endblock %}
{% block gallery_menu_display %}display:block;{% endblock %}
{% block artist_menu_display %}display:none;{% endblock %}

{% block content %}
								<script type="text/javascript">                                    
									var currentmode='gallery-grid';									
									var gallerykey="{{ gallerykey }}";
                                    var currentimg=0, imax={{ photo_count }}; //these become global variables so that view changer scripts can manipulate them.
                                    function imagearray()
                                    {
                                        // preloader=new Image()
                                        // var j=0;
                                        captions = new Array();
                                        captions = {{ captions|safe }};
										buylinks = {{ buylinks|safe }};
                                        img_filenames= {{ img_filenames|safe }};
                                        $('#gallery-single-photo').attr('src',"galleries/{{ gallerykey }}/"+img_filenames[0]+".jpg");
                                        $('#gallery-single-photo').attr('alt',captions[0]);
                                        $('#navigation-count').html("0 <span class='of'>of</span> "+(imax));
										$('#cart-link').attr('href',buylinks[0]);
                                        // for(j=1; j<{{ photo_count }}; j++)
                                        // {
                                        //     filename="galleries/{{ gallerykey }}/"+img_filenames[j]+".jpg";
                                        //     preloader.src=filename;
                                        // }
                                    }
                                    
                                    var imgHeight;
                                    var imgWidth;
                                    var firstImage=true;
                                    var newImg;
                                    function resize() //make this work on the img onload in the html instead of next and previous.
                                    {
                                      if (firstImage==true)
                                        {
                                            $('.photo').css('visibility',"visible");
                                            firstImage=false;
                                        }
                                        else
                                        {
                                            $('#gallery-footer-left').css('opacity',1);
                                        }                                      
                                        $('.photo').css('opacity',1);
                                        $('.photo').attr('alt',captions[currentimg-1]);
                                        $('#gallery-main-caption').html(captions[currentimg-1]);
										$('#cart-link').attr('href',buylinks[currentimg-1]);                                        
                                        $('#navigation-count').html((currentimg)+" <span class='of'>of</span> "+(imax));
                                        return true;
                                    }

                                    function pre_next()
                                    {
                                        $('.photo').css('opacity',0);
                                        $('#gallery-footer-left').css('opacity',0);
                                        setTimeout("next()",500);
                                        return false;
                                    }

                                    function next()
                                    {
                                        if (currentimg==imax)
                                        {currentimg=0;}
                                        currentimg++;
                                        newImg=new Image();
                                        newImg.src="galleries/{{ gallerykey }}/"+img_filenames[currentimg-1]+".jpg";
                                        $('.photo').attr('src',newImg.src);
                                        newImg.onload = resize;                                        
                                    }

                                    function pre_previous()
                                    {
                                        $('.photo').css('opacity',0);
                                        $('#gallery-footer-left').css('opacity',0);
                                        setTimeout("previous()",500);
                                        return false;
                                    }

                                    function previous()
                                    {
                                        if (currentimg==1)
                                        {currentimg=imax+1;}
                                        currentimg--;
                                        newImg=new Image();
                                        newImg.src="galleries/{{ gallerykey }}/"+img_filenames[currentimg-1]+".jpg";
                                        $('.photo').attr('src',newImg.src);
                                        newImg.onload = resize;                                        
                                    }
                                </script>
							<div id="gallery-main-title">
								<div id="gallery-main-name">{{ gallery_name }}</div>
								<div id="gallery-main-artist"><a href="{{ artistkey }}">{{ artist_name }}</a></div>
							</div>                            
                            <div id="fadetop"></div>
							<div id="currpage">								
                                {% block gallery_mode %}
								{% endblock gallery_mode %}
							</div>                            
                            <div id="fadebottom"></div>
							<div id="gallery-footer">
								<div id="gallery-footer-left">
									<div id="gallery-main-caption"></div>								
								</div>
								<div id="gallery-footer-right">
									<a id="cart-link" href="#" title="Add to cart"><img id="cart-button" src="img/cart-icon.png"></a>
									<div id="navigation">
										<div id="navigation-count"></div>
										<div id="navigation-buttons">
											<a onclick="pre_previous()" title="Previous (&#8592; key)"><img src='img/left-arrow.png'></a>
											<a onclick="pre_next()" title= "Next (&#8594; key)"><img src='img/right-arrow.png'></a>
										</div>
									</div>
									<div id="view-changer">
										<a id='gallery-grid-button' onclick="changegallerymode('gallery-grid')" title="Grid" style="opacity:1"><img src="img/gallery-grid.png"></a>
										<a id='gallery-single-button' onclick="changegallerymode('gallery-single')" title="Single"><img src="img/gallery-single.png"></a>
										<a id='gallery-lightbox-button' onclick="changegallerymode('gallery-lightbox')" title="Lightbox"><img id='gallery-lightbox-button-img' src="img/gallery-lightbox.png"></a>
									</div>
								</div>
							</div>
                            <script>$('#currpage').css('opacity',1);</script> <!--this is used instead of currpage fade in on body onload so that gallery tiles can fade in individually-->
{% endblock content %}