{% extends "templates/gallery.html" %}
{% block gallery_mode %}

{# grid mode #}
<div id = "gallery-grid">
{% for image in images %}		
        <span style="cursor:pointer" onclick="changegallerymode('gallery-single',{{ images.index(image)+1 }})">
<div class="gallery-preview" onmouseover="raise({{ images.index(image) }})" onmouseout="lower({{ images.index(image) }})" id="gal{{ images.index(image) }}">
                                            <div class="gallery-preview-img" id="gal-img{{ images.index(image) }}" style="background-image: url('galleries/{{ gallerykey }}/{{ image[0] }}.jpg')">
                                                <img style="display:none" onload="galappear('gal{{ images.index(image) }}', '140px')" src="galleries/{{ gallerykey }}/{{ image[0] }}.jpg" alt='{{ captions[images.index(image)] }}'>
                                            </div>                                            
                                        </div>
                                    </span>
{% endfor %}
</div>
{# end grid mode #}

{# single mode #}

<div id="gallery-single">
<div class="gallery">
                                    <div class="gallery-photo" id="gallery-main-photo">
                                        <img id="loading" src="img/loading.gif" alt='loading...'>
                                        <img id="gallery-main-photo-photo" alt=''>
                                    </div>
                                </div>
                                <div id="gallery-bottom-right">
                                    
                                </div>
</div>
{# end single mode #}

<div id="lightbox"></div>

{% endblock gallery_mode %}