{% extends "templates/base.html" %}
{% block title %}Artarium{% endblock %}
{% block description %}Photography and art gallery.{% endblock %}
{% block url %}artarium.in{% endblock %}
{% block keywords %}artarium photography art buy view gallery photos{% endblock %}
{% block artarium_logo %}<div id="header-logo"><img class="header-bottom" src="img/artarium-logo.png" alt='Artarium Logo' /></div>{% endblock %}
{% block css2 %}{% endblock %}
{% block body_onload %}onload="$('#currpage').css('opacity',1)"{% endblock %}
{% block gallery_menu_display %}display:none;{% endblock %}
{% block artist_menu_display %}display:none;{% endblock %}

{% block content %}
<div id="currpage" style="font-size:0.8em">
<div id="gallery-main-title">
<div id="fadetop"></div>
                                <div class="galleries">
{{ gallery_previews|safe }}                                </div>

                                <div id="fadebottom"></div>
</div>
</div>
{% endblock content %}