{% extends "templates/base.html" %}
{% block title %}Artarium{% endblock %}
{% block description %}Photography and art gallery.{% endblock %}
{% block url %}artarium.in{% endblock %}
{% block keywords %}artarium photography art buy view gallery photos{% endblock %}
{% block artarium_logo %}<img onload="headerappear()" alt="Artarium" src="img/artarium-logo.png">{% endblock %}
{% block css2 %}{% endblock %}
{% block body_onload %}{% endblock %}
{% block gallery_menu_display %}display:none;opacity:0{% endblock %}
{% block artist_menu_display %}display:none;opacity:0{% endblock %}

{% block content %}
<div id="currpage" style="font-size:0.8em">
<div id="gallery-main-title">
<div id="fadetop"></div>
                                <div class="section-header">Welcome.</div>
                                <div class="text" style="font-size:16px;text-align:center">
                                Artarium is an online gallery of photography and art. Have a look at the following collections by different artists.
                                </div>
                                <div style="width:540px" class="galleries">
{{ gallery_previews|safe }}                                </div>

                                <div id="fadebottom"></div>
</div>
</div>
{% endblock content %}